@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}
html {
  box-sizing: border-box;
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  background: #f8fafb !important;
  color: #211c57 !important;
  position: relative;
  overflow: hidden;
  height: 100%;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root,
.mantine-AppShell-root {
  height: 100%;
}
.mantine-AppShell-body {
  height: 100%;
  & .sider {
    background-color: #311b92;
    width: 4%;
    border-radius: 0;
    height: 100%;
    border: none;
    margin: auto;
    z-index: 1;
    margin-right: 2%;
    .mantine-Avatar-root {
      margin: 14% auto;
    }
    .mantine-NavLink-root {
      .mantine-NavLink {
        &-icon {
          margin: 0;
        }
        &-body {
          display: none;
        }
      }
    }
    &Menu {
      margin: 0;
      width: 100%;
      display: block;
      padding: 16% 0;
      &[data-active] {
        color: #fefefe;
        background-color: transparent;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 20%;
          height: 70%;
          width: 4%;
          background-color: #fefefe;
          z-index: 1;
          border-radius: 0 4px 4px 0;
        }
      }
    }
  }
  .mantine-AppShell-main{
    margin-left: -2.4%;
    z-index: 9;
    background: #f8fafb;
    border-radius: 8px 0 0 8px
  }
}
