//variabel color;
$lookupCard: #f5f7f8;
$formlabel: #636363;
$adminBorder: #005a86;
$pending: #ffa041;
$orders: #44b75c;
$cancel: #e74d3d;
$total: #443f92;
$closeModal: #f14343;
$tableHead: #e7f4fb;
$btnCategory: #f4f4f4;
$userIcon: #34475b;
$contentBg: #ebebeb;
$placeHolerColor: #b6b6b6 !important;
$primaryTextColor: #1c96d3;
$headerTextColor: #b6b6b6;
$headerColor: #012b41;
$baseFontColor: #7d7d7d;
$labelFontColor: #595959;
$nightRider: #333333;
$black: #000000;
$black36: #00000036;
$black40: #00000040;
$black50: #00000050;
$black72: #000000b8;
$gainsboro: #dadada;
$grey7b70: #7b7b7b70;
$milkWhite: #fcfdfe;
$white: #ffffff;
$white30: #ffffff30;
$whiteGrey: #ececec;
$secondaryBlue: #1f5c87;
$secondaryBlue14: #1f5c8714;
$secondaryBlue50: #1f5c8750;
$lightGrey: #cacaca;
$blackPearl: #001529;
$magnolia: #f8f7f9;
$linkWater: #c5d5df;
$curiousBlue: #3884cc;
$inputShade: transparent;
$inputBackground: #ebe9f8;
$Logan: #9b96bd;
$adminCard: #e7f7ff;

//custom
$focusHighlightBlue: 1px solid #68cdff !important;
$focusHighlightBlack: 1px solid #333333 !important;
$focusHighlightRed: 1px solid red !important;
